<% if current_user != @event.user %>
  <div class="panel panel-default">
    <div class="panel-heading">Attend this event</div>

    <div class="panel-body">
      <%= render 'registrations/form' %>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Description: <%= @event.description %></p>
    <p>Host: <%= @event.user.email %></p>

    <h4>Main Information</h4>
    <p>Location: <%= @event.location %></p>
    <p>Price:
      <% if @event.price == 0.0 %>
      <%= "Free" %></p>
      <% else %>
      <%= @event.price %>
      <% end %>
    <p>Maximum people that can participate: <%= @event.capacity %></p>
    <p>Free drinks?
      <% if @event.includes_drinks == true %>
        <%= "Yes" %>
      <% else %>
        <%= "No" %></p>
      <% end %>
      <p>Free food?
        <% if @event.includes_food == true %>
          <%= "Yes" %>
        <% else %>
          <%= "No" %></p>
        <% end %>
    <p>Starts at: <%= @event.starts_at %></p>
    <p>Ends at: <%= @event.ends_at %></p>

    <h4>Themes</h4>
    <% @themes.each do |theme| %>
    <span class="label label-success"><%= theme.name %></span>
    <% end %>

    <h4>Photos</h4>
    <% @event.photos.each do |photo| %>
    <%= image_tag photo.image.thumbnail %>
    <% end %>

  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
